div {
  background: black;
}

input {
  background: green;
  border-radius: 10px;
}

button {
  color: green;
  border-radius: 10px;
}
#root_id {
  color: aqua;
}

.root_class {
  width: 500px;
  height: 100px;
}